.container {
  display: flex;
  background-color: bisque;
  border: none;
  padding: 40px;
  margin: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
#row1 {
  background-color: beige;
}
#row2 {
  background-color: darkseagreen;
}
#row3 {
  background-color: beige;
}
#row4 {
  background-color: darkseagreen;
}
